@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
</head>
<body>
    <style>
        body {
            font-family: 'Ropa Sans', sans-serif;
            margin: 0px;
            background-color: rgb(32,32,32);
        }

        .error-main {
            margin: 150px auto;
            text-align: center;
        }

        .error-heading {
            margin: 0 auto;
            width: 250px;
            border-radius: 5px;
            box-shadow: 0px 7px 15px -10px #000;
        }

        .error-heading h1 {
            margin: 0;
            background-color: #C81F3E;
            font-size: 120px;
            color: #f1f1f1;
        }

        .error-main h2 {
            font-size: 36px;
            color: #C81F3E;
            text-shadow: 1px 2px 1px #000;
        }

        .error-main p {
            color: #797979;
        }
    </style>

    <div class="error-main">
        <div class="error-heading">
            <h1>404</h1>
        </div>
        <h2>Not Found</h2>
        <p>There is no page you are looking for</p>
    </div>
</body>
</html>